<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Notepad{% endblock %} - Notepad</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    {% block nav %}
    {% endblock %}

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
