{% extends 'NotepadBundle::base.html.twig' %}

{% block title %}New Note{% endblock %}


{% block content %}
<h1>New Note</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
